.link-bar{
  font-size: medium;

}
.ps-phone{
  font-size: large;
  color:#5f4696;
}
#cell-phone{
  font-weight: bold;
  color:red;
  font-size: x-large;

}

.ps-contain p{
  font-size: large;
  line-height: 22px;
}

.ps-ptext p{
  margin-bottom: 0px;
  line-height: 20px;
  font-size: 100%;
  padding-bottom: 14px;
  padding-right:15px;
  padding-left: 10px;
}
.tit-item{
 margin-bottom: 20px;
  text-align: center;
}

.size-btn{
  background-color: #5f4696 !important;

}

.passport-b-a:hover{
  text-decoration: none;

}
.condition{
  font-weight: bold;
}


.size-btn:hover {
  color: #A926CF !important;
}

#hr-pr{
  display: none;
}

@media screen and (max-width: 768px) {
#hr-pr{
  display: block;
}
  }