
/* navbar
–––––––––––––––––––––––––––––––––––––––––––––––––– */
/*.sub-menu:before {
  width: 16px;
  height: 16px;
  background-size: 100%;
  background-repeat: no-repeat;
  content: " ";
  display: inline-block;
  position: relative;
  top: -15px;
  left: 5px;
  z-index: 0;
  border-left: solid white;
  border-bottom: solid white;
  transform: rotate(133deg);
  margin-right: 7px;
  transition: none;
}*/

/*.dropdown-item:hover{
  background-color: #d61313;
}*/
.navbar{
  padding-bottom: 0px;
  padding-top: 0px;
}
.nav-link{
  padding-bottom: 19px;
  padding-top: 19px;

}
.sub-menu {
  margin-top: 0px;
}
.nav-item {
  font-size: 1rem;
  font-weight: bold;
}

/* background-image
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.home-page-img {
  background-image:url('../img/home-page.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  min-height: 300px;
  overflow: hidden;
}
.img-overlay{
  position: absolute;
  background: rgba(0,0,0,0.7);
   width:100%;
  min-height:300px;
}

.img-text h2{
  position: absolute;
  color:white;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-shadow: 2px 1px 3px white;
  font-weight: normal;
  text-align: center;
}

/* Media
–––––––––––––––––––––––––––––––––––––––––––––––––– */

@media screen and (max-width: 576px) {

.home-page-img {
  background-image:url('../img/home-page.jpg') auto 100px;
  min-height:200px;
  background-attachment: scroll;
}

.img-overlay{
  min-height:200px;
}

.img-text h2{
  font-size: 1rem;
}
}