
/* body
–––––––––––––––––––––––––––––––––––––––––––––––––– */
body, html{
  height:100%;
  margin:0;


  overflow-x: hidden;
}
/* navbar
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.navbar{
  padding:0;


}
.nav-link{
  padding-bottom: 19px;
  padding-top: 19px;

}
.sub-menu {
  margin-top: 0px;
}
.nav-item {
  font-size: 1rem;
  font-weight: bold;
}

/* background-image
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.home-page-img {
  background-image:url('../img/home-page.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  min-height: 300px;
  overflow: hidden;
  position: relative;
}
.img-overlay{
  position: absolute;
  background: rgba(0,0,0,0.7);
   width:100%;
  min-height:300px;

}

.img-text h2{
  position: absolute;
  color:white;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-weight: normal;
  text-align: center;
}
.home-img-button-1 {
  position: absolute;
  height:40px;
  width: 100px;
  top: 70%;
  left: 40%;
  transform: translate(-50%, 50%);
  display:block;
  background-color: Transparent;
  background-repeat: no-repeat;
  border: 2px solid white;
  overflow: hidden;
}
.home-img-button-2 {
  position: absolute;
  height:40px;
  width: 100px;
  top: 70%;
  left: 60%;
  transform: translate(-50%, 50%);
  display:block;
  background-color: Transparent;
  background-repeat: no-repeat;
  border: 2px solid white;
  overflow: hidden;
}

.home-img-button-1:hover{
  background-color: #edf0f4;
  color: black !important;
}

.home-img-button-2:hover{
  background-color: #edf0f4;
  color: black !important;
}



/* Popular services
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.popular {
 background-color: white;
 border-radius:30px;

}

.popular-ul{
  list-style-type: none;
}
 .popular-link{
  line-height: 1.8;
 /* padding: 10px;*/
}
.popular .service-item a:hover {
  color: blue;
}

.note{
  font-size: 12px;
  color: #928E8D;
}


/* Serice steps
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.step-continer{
  background-color: #D9D9D9;
}
.num {
  float: left;
  font-size: 90px;
  line-height: 75px;
  width: 53px;
  margin-right: 5px;
  color: #D1CFCF;
  margin-top: 10px
}
.service-step{
  position: relative;
  z-index: 1;
}
.service-step p{
  font-size: 16px;
  padding-bottom: 2px;
  padding-top: 10px;
  font-weight: bold;
  margin-bottom: 0px !important;
}

/* footer
–––––––––––––––––––––––––––––––––––––––––––––––––– */
footer {
  color: rgb(146,146,146);
  text-align: center;
  width: 100%;
  text-transform: uppercase;
  padding-bottom: 25px;
  padding-top: 25px;
  background-color: #1c1c1c;
}

footer p {
  display: inline;
}

footer a {
  display: inline;
  width: 12%;
  padding: 10px;
  color: rgb(146,146,146);
  text-decoration: none;
}






/* Media
–––––––––––––––––––––––––––––––––––––––––––––––––– */

@media screen and (max-width: 768px) {

.home-page-img {
  background-image:url('../img/home-page.jpg') auto 100px;
  min-height:200px;
  background-attachment: scroll;
}

.img-overlay{
  min-height:200px;
}

.img-text h2{
  font-size: large;
}

.home-img-button-1 {
  height:30px;
  width: 70px;
  top: 65%;
  left: 40%;
  font-size: 10px;
  font-weight: bold;
  border: 1px solid white;
}
.home-img-button-2{
  height:30px;
  width: 70px;
  top: 65%;
  left: 60%;
  font-size: 10px;
  font-weight: bold;
  border: 1px solid white;
  }
  .service-item{
    text-align: center;
  }
}