.china-title{
  display: inline;
  font-size: xx-large;
  padding-left: 10px;
  text-align: center;
}
.visa-type  {
  border: 1px solid #e0e0e0;
  padding-left: 30px;
}

.visa-type p{
  margin-bottom: 0px;
}
.nav-visa-detail{
  padding-top: 30px;
  padding-right: 30px;
  padding-left: 30px;
  text-align: center;
  font-weight: bold;
}

.visa-details{
  border-bottom: 1px solid #e0e0e0;
}

.bg-title{
  background-color: #D9D9D9;
  border:2px solid #e0e0e0;
  margin-bottom: 15px;
}
.bg-details{
  background-color: #f9f9f9;
  display: none;
  border:2px solid #e0e0e0;
  margin-bottom: 15px;
}
.details-dropdown-title{
  display: inline;
  font-weight: bold;
  font-size: medium;
}

.icon-side{
   float: right;
}
.visa-contect{
  font-size: large;
}
/* active
–––––––––––––––––––––––––––––––––––––––––––––––––– */

#active-visa-type{
  border-right: 1px solid #f9f9f9;
}
#active-nav-detail{
  border-bottom: 3px solid #5f4696;
}


/* select items
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.title-china-visa{
  background-color:#5f4696;
  height: 60px;
  width: 100%;
  position:relative;
}

.select-box{
  width: 300px;
  height: 37px;
  border:1px solid #e0e0e0;
  border-radius: 5px;
  background-color: white;
  margin-right: 30px;
  margin-top: 12px;
  float: right;
}

.select-icon{
  float: right;
  padding-right: 0px;
  padding-top: 0px;
  margin-right: 5px;
  margin-top: 1px;
  text-align: center;
}
.select-text{
  padding-left: 10px;
  font-size: 25px;
}
#select-div{
  border:1px solid #e0e0e0;
  width: 300px;
  height: 250px;
  display: none;
  margin-right: 30px;
  margin-right: 30px;
  margin-top: 12px;
  background-color: white;
  border-radius: 5px;
  position: absolute;
  right: 15px;
  z-index: 1;
}
.search-item li{
  padding-left: 15px;
  margin-top: 5px;
}

.search-item li a{
  color: black;
  text-decoration: none;
  font-size: x-large;
}
.search-item{
  height: 150px;
  overflow: auto;
  list-style-type: none;
}

.search-box{
  font-family: "FontAwesome";
  text-align: left;
  padding-left: 10px;
  width: 280px;
  height: 40px;
  margin-top: 5px;
  margin-left: 10px;
}
.select-link{
  color: black;
}
.select-link:hover{
  background-color: blue;
}
.icon-div{
  display: inline;
}