.box{
  display:none;
}

#selectCountries{
  width: 150px;
  height: 30px;
}

.border-bottom{
  border-bottom: 1px solid #555;
}
.visa-form{
  background-color: #3CBC8D;
  padding: 10px;
}
fieldset {
    display: block;
    margin-left: 2px;
    margin-right: 2px;
    padding-top: 0.35em;
    padding-bottom: 0.625em;
    padding-left: 0.75em;
    padding-right: 0.75em;
    border: 1px solid black;
}

legend{
  width: 200px;
}

.ps-phone{
  font-size: large;
  color:#5f4696;
}
#cell-phone{
  font-weight: bold;
  color:red;
  font-size: x-large;

}
.visa-ul{
  list-style: none;
  font-size: large;
}
.visa-flag{
  margin-right: 10px;
}
#visa-link-container{
  background-color: #D9D9D9;
}
.visa-p-text p{
  font-size: large;
}